h1 {
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#banner {
    background-color: rgba(71, 61, 139, 0.571);
}
body {
    background-image: url("paws2.jpg");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    animation: transitionIn 850ms;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }

} 

