h1 {
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
}
#banner {
    background-color: rgba(71, 61, 139, 0.571);
}
body {
    background-color:rgb(113, 144, 144);
} 
figcaption {
    background-color: rgba(71, 61, 139, 0.571);
    color: azure;
    padding: 2px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
figure {
    border: 1px solid rgb(113, 144, 144);
    border-radius: 8px;
    padding: 4px;
    margin: auto;
}
