h1 {
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
}
#banner {
    background-color: rgba(71, 61, 139, 0.571);
}
body {
    background-color:rgb(113, 144, 144);
} 
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(113, 144, 144);
    border-radius: 8px;
}
figcaption {
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

